
<%@all_events_array.each do |event| %>
  <div class="card m-3 " style="width: 18rem;">
    <div class="card-body ">
      <h5 class="card-title"> <%= event.title %></h5>
      <h6> de: <%= event.admin.first_name %> <%= event.admin.last_name %> </h6>
      <p class="card-text"> <%= event.description %></p> 
      <a <%= link_to "page de l'événement", event_path(event) %></a>

    </div>
  </div>
<% end %>